{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Soap Shop {% endblock %}</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--Latest compiled Javascript-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--custom styles -->
{% block style %}<link rel="stylesheet" href="{% static 'style.css' %}">{% endblock %}
</head>
<body>

    <div class="wrapper">
        <div class="wrapper-content">
            {% include 'landing/navbar.html' %} 
            
            
            {% block content %}
           
            {% endblock %}
            

          
        </div>
    </div> 
    {% include 'landing/footer.html' %}
        


</body>
</html>