{% extends "landing/base.html" %}
{% block title %} lol {% endblock %}
{% block content %}



    <div class="general-container">
        <div class="container top-container">
            <div class="row">

                <div class="col-lg-10 col-lg-offset-1">
                    <h1 class="title">Наш магазин скоро відкриється<br>
                    Заповнюйте форму для реєстрації</h1><br>
                     <form action="" method="post" class="form form-inline text-center">
                         <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="{{ form.first_name.name }}" class="form-control">
                         </div>
                         <div class="form-group">
                            <label>First Name</label>
                             <input type="text" name="{{ form.last_name.name }}" class="form-control">
                         </div>
                         <div class="form-group">
                             <label>E-mail</label>
                             <input type="text" name="{{ form.email.name }}" class="form-control">
                         </div>
                    {% csrf_token %}
                    <button class="btn btn-primary btn-orange" type="submit">
                    submit
                    </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}